.main-container {
  background-color: #E5F3F2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40%;
  padding: 3% 0;
}

.logo-name {
  color: #00A79D;
  font: 700 40px 'Roboto Slab', serif;
  margin-bottom: 2%;
}

span {
  color: #6D6E71;
}

input {
  width: 50%;
  height: 25px;
  border: 2px solid #D1D3D4;
  color: #6D6E71;
  font-size: 17px;
  margin: 7px 0;
  padding: 5px;
}

input:focus {
  outline: none;
}


.save-button {
  background-color: #00A79D;
  border: none;
  box-shadow: none;
  color: #fff;
  margin-top: 7px;
  width: 51%;
  height: 37px;
  font-size: 17px;
}

.save-button:focus {
  outline: none;
}

.save-button:hover {
  background-color: #045E55;
}

.bottom-container {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
}

.buttons {
  color: transparent;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
}

.buttons:focus {
  outline: none;
}

.delete-button {
  background: url(../images/delete.svg) no-repeat;
  float: right;
}

.delete-button:hover {
  background: url(../images/delete-hover.svg) no-repeat;
}

.up-vote {
  background: url(../images/upvote.svg) no-repeat;
}

.up-vote:hover {
  background: url(../images/upvote-hover.svg) no-repeat;
}

.down-vote {
  background: url(../images/downvote.svg) no-repeat;
}

.down-vote:hover {
  background: url(../images/downvote-hover.svg) no-repeat;
}

.idea-title {
  color: #6D6E71;
  font: 700 25px 'Roboto Slab', serif;
}

.idea-body {
  color: #939598;
  font-size: 20px;
}

li {
  list-style-type: none;
  margin-top: 20px;
}

li:focus {
  outline: none;
}

.buttons {
  display: inline-flex;
}

div {
  width: 50%;
}

.idea-section {
  border-bottom: 2px solid #D1D3D4;
  font: 400 'Open Sans', sans-serif;
  padding: 10px;
}

p {
  margin: 8px;
  display: inline-block;
  padding: 10px 0;
  color: #6D6E71;
  font-size: 15px;
}

.down-vote {
  margin: 0px 10px;
}



/*Media Queries*/
@media screen and (max-width: 500px) {

  input {
    width: 80%;
  }

  .body-input {
    height: 70px;
  /*NEED TO FIGURE OUT LINE BREAK/TEXT WRAP!!!!!!!!*/
  }

  .save-button {
    width: 83%;
  }

  div {
    width: 80%;
  }
};
